<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Calendar</title>
  <link rel="stylesheet" href="/Styles/BodyLayout.css" />
  <link rel="stylesheet" href="/Styles/Calendar.css" />
  <link rel="stylesheet" href="/Styles/footer.css" />
  <link rel="shortcut icon" href="/Image/Calendar-icon.svg" type="image/x-icon">
</head>

<body>
  <% function Month(num) { switch (num) { case 0: return "January" ; break; case 1: return "Febuary" ; break; case 2:
    return "March" ; break; case 3: return "April" ; break; case 4: return "May" ; break; case 5: return "June" ; break;
    case 6: return "July" ; break; case 7: return "August" ; break; case 8: return "September" ; break; case 9:
    return "Octomber" ; break; case 10: return "November" ; break; case 11: return "December" ; break; default: break; }
    }; function Day(num) { switch (num) { case 0: return "Sunday" ; break; case 1: return "Monday" ; break; case 2:
    return "Tuesday" ; break; case 3: return "Wednesday" ; break; case 4: return "Thrusday" ; break; case 5:
    return "Friday" ; break; case 6: return "Saturday" ; break; default: return undefined; break; } }%>
    <div class="aside-nav">
      <div class="elements">
        <div class="">
          <a title="calendar" class="element-item" href="/calendar" target="" rel="noopener noreferrer">
            <img src="/Image/Calendar-icon.svg" alt class="aside-icon" />
          </a>
        </div>
        <div class="">
          <a title="notes" class="element-item" href="/NoteList" target="" rel="noopener noreferrer">
            <img src="/Image/Notes-icon.svg" alt class="aside-icon" />
          </a>
        </div>
        <div class="">
          <a title="to-do" class="element-item" href="/todo" target="" rel="noopener noreferrer">
            <img src="/Image/TO-DO-icon.svg" alt class="aside-icon" />
          </a>
        </div>
        <div class="">
          <a class="element-item" title="profile" href="/" target="" rel="noopener noreferrer">
            <img src="/Image/transparent-profile-icon.svg" alt class="aside-icon" />
          </a>
        </div>
      </div>
    </div>
    <div class="a-m-c">
      <div class="top-nav">
        <div class="nav-1-box">
          <div class="heading-section width33">
            <h1 class="marpad-0">Calendar</h1>
          </div>
          <div class="month-name width33">
            <p class="name marpad-0">
              <center class="name-month">
                <%= Month(Data[0].name) %>
              </center>
            </p>
          </div>
          <div class="nav-form width33">
            <form action="" id="searchForm">
              <select name="month" id="" class="buttons" title="month">
                <option value="0">January</option>
                <option value="1">Febuary</option>
                <option value="2">March</option>
                <option value="3">April</option>
                <option value="4">May</option>
                <option value="5">June</option>
                <option value="6">July</option>
                <option value="7">August</option>
                <option value="8">September</option>
                <option value="9">Octomber</option>
                <option value="10">November</option>
                <option value="11">December</option>
              </select>
              <input type="number" class="number buttons" name="year" id="" value="<%= Data[0].month[0].date.year %>" max="2050" min="2000" placeholder='YEAR'>
              <input class="buttons" type="submit" value="Go">
            </form>
          </div>
        </div>
        <div class="nav-2-box">
          <table>
            <thead>
              <tr class="weak-full-name">
                <th class="nav-table-th">Sunday</th>
                <th class="nav-table-th">Monday</th>
                <th class="nav-table-th">Tuesday</th>
                <th class="nav-table-th">Wednesday</th>
                <th class="nav-table-th">Thursday</th>
                <th class="nav-table-th">Friday</th>
                <th class="nav-table-th">Saturday</th>
              </tr>
              <tr class="weak-short-name">
                <th class="nav-table-th">Sun</th>
                <th class="nav-table-th">Mon</th>
                <th class="nav-table-th">Tue</th>
                <th class="nav-table-th">Wed</th>
                <th class="nav-table-th">Thur</th>
                <th class="nav-table-th">Fri</th>
                <th class="nav-table-th">Sat</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="box">
        <div class="container p-0">
          <div class="calendar container-child">
            <div class="table-container">
              <div class="one-day Bg-Color"
                style="grid-column:span <%= Data[0].month[0].date.day  %> ;  display:<% if(Data[0].month[0].date.day==0){ %>none<%}else{%>unset<%}%>">
              </div>
              <% Data[0].month.forEach(element=> { %>
                <% var today=false;if(element.date.year==new Date().getFullYear()&&element.date.month==new Date().getMonth()&&element.date.date==new Date().getDate()){today=true} %>
                <div class="one-day <% if(today){  %><%=  'todayDiv' %><% } %>">
                  <div class="number">
                    <center>
                      <p>
                        <%= element.date.date %>
                      </p>
                    </center>
                  </div>
                  <div class="short-text">
                    <button type="button" class="btn-Clear" data-year="<%= element.date.year %>"
                      data-date="<%=element.date.date  %>" data-month="<%= element.date.month %>"
                      onclick="showAddNote(this);Opacity()" data-Content="<%= element.content  %>">
                      <p>
                        <% if(element.content!='*' ){ %>
                          <%= (element.content).substring(0,10) + '...' %>
                            <% }else{ %>
                              <%= element.content %>
                                <% } %>
                      </p>
                    </button>
                  </div>
                </div>
                <% }); %>
            </div>
            <div class="newMonth-container">
              <div class="previous-month">
                <button data-year="<%= Data[0].month[0].date.year  %>" name-month="<%= Data[0].name %>"
                  onclick="NewMonth(this,-1)" class="NewMonthBtn">Previous Month</button>
              </div>
              <div class="next-month">
                <button data-year="<%= Data[0].month[0].date.year  %>" name-month="<%= Data[0].name %>"
                  onclick="NewMonth(this,1)" class="NewMonthBtn">Next Month</button>
              </div>
            </div>
          </div>
          <div class="absolute-box displayNone" id="absolute-box">
            <div class="selected-day">
              <div class="month">
                <center>
                  <p class="sel-m-txt">
                    <span id="date-new-note">
                      <!-- date -->
                    </span>
                    <span>
                      <%= Month(Data[0].name) %>
                    </span>
                  </p>
                </center>
              </div>
              <div class="note">
                <form id="newNoteForm">
                  <textarea class="textarea" name="textarea" id="textarea" cols="30" rows="10"
                    placeholder="Enter Note"></textarea>
                  <div class="actions">
                    <button class="buttons" type="button" onclick="showAddNote(null);Opacity()">
                      Cancel
                    </button>
                    <input onclick="Opacity()" type="submit" name="submit" value="Save" class="buttons">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="list">
            <center>
                <ul class="ul-footer">
                    <li class="footer-item">Facebook</li>
                    <li class="footer-item">Telegram</li>
                    <li class="footer-item">Instagram</li>
                    <li class="footer-item">Whatsapp</li>
                </ul>
            </center>
        </div>
        <h3>
            <center>@PI LIFE - All rights reserved</center>
        </h3>
        <h4>
            <center>
                Designed and developed by <a class="link" href="https://github.com/WebProject720/PI-LIFE" >WebProject720</a>
            </center>
        </h4>
        </div>
      </div>
    </div>
</body>

</html>
<script src="/JS/calendar.js"></script>
<script src="/src/Main/CalendarBack.js"></script>
<script src="/JS/BODYJS.js"></script>