<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes List</title>
    <link rel="stylesheet" href="/Styles/BodyLayout.css" />
    <link rel="stylesheet" href="/Styles/Notes.css">
    <link rel="shortcut icon" href="/Image/Notes-icon.svg" type="image/x-icon">
</head>

<body>
    <% function Month(num) { switch (num) { case 0: return "January" ; break; case 1: return "Febuary" ; break; case 2:
    return "March" ; break; case 3: return "April" ; break; case 4: return "May" ; break; case 5: return "June" ; break;
    case 6: return "July" ; break; case 7: return "August" ; break; case 8: return "September" ; break; case 9:
    return "Octomber" ; break; case 10: return "November" ; break; case 11: return "December" ; break; default: break; }
    } %>
    <div class="aside-nav">
        <div class="elements">
          <div class="">
            <a title="calendar" class="element-item" href="/calendar" target="" rel="noopener noreferrer">
              <img src="/Image/Calendar-icon.svg" alt class="aside-icon" />
            </a>
          </div>
          <div class="">
            <a title="notes" class="element-item" href="/NoteList" target="" rel="noopener noreferrer">
              <img src="/Image/Notes-icon.svg" alt class="aside-icon" />
            </a>
          </div>
          <div class="">
            <a title="to-do" class="element-item" href="/todo" target="" rel="noopener noreferrer">
              <img src="/Image/TO-DO-icon.svg" alt class="aside-icon" />
            </a>
          </div>
          <div class="">
            <a class="element-item" title="profile" href="/" target="" rel="noopener noreferrer">
              <img src="/Image/transparent-profile-icon.svg" alt class="aside-icon" />
            </a>
          </div>
        </div>
      </div>
    <div class="a-m-c">
        <div class="top-nav">
            <div class="heading-section">
                <h1>Notes</h1>
            </div>
            <div class="form">
                <button class="buttons">Search</button>
                <button class="buttons">
                    <a class="ButtonLink" href="/note">Create File</a>
                </button>
            </div>
        </div>
        <div class="box">
            <div class="container">
                <div class="list-notes">
                    <% Data.forEach(element=> { %>
                        <div class="list">
                            <div class="img-icon">
                                <img src="/Image/Notes-icon-wh-border.svg" alt class="note-icon-pr">
                            </div>
                            <div class="name-note">
                                <div class="text">
                                    <a href="/note?note=<%=element.name%>" target="" class="link"
                                        rel="noopener noreferrer">
                                        <span class="doc-name">
                                            <%= element.name %>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="date-text">
                                <div class="text">
                                    <span>
                                        <%= ((element.time.hh)%12) %> : <%=element.time.mm %>
                                    </span> <span> , </span><span>
                                        <%=element.date.date %> <%=Month(element.date.month) %>
                                                <%=element.date.year %>
                                    </span>
                                </div>
                            </div>
                            <div class="options-menu">
                                <button class="buttons-img" onclick="Delete(this)" name="<%=element.name%>">
                                    <span>
                                        <img class="delete-icon" src="/Image/Delete-icon.svg" alt="Delete">
                                    </span>
                                </button>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>
            <div class="footer">
               
                <div class="list">
                    <center>
                        <ul class="ul-footer">
                            <li class="footer-item">
                              <img class="footer-icon" src="https://cdn-icons-png.flaticon.com/128/4494/4494485.png" alt="">
                            </li>
                            <li class="footer-item">
                              <img class="footer-icon" src="https://cdn-icons-png.flaticon.com/128/1409/1409946.png" alt="">
                            </li>
                            <li class="footer-item">
                              <img class="footer-icon" src="https://cdn-icons-png.flaticon.com/128/2111/2111646.png" alt="">
                            </li>
                            <li class="footer-item">
                              <img class="footer-icon" src="https://cdn-icons-png.flaticon.com/128/145/145802.png" alt="">
                            </li>
                        </ul>
                    </center>
                </div>
                <h3>
                    <center>@PI LIFE - All rights reserved</center>
                </h3>
                <h4>
                    <center>
                        Designed and developed by <a class="link" href="https://github.com/WebProject720/PI-LIFE" >WebProject720</a>
                    </center>
                </h4>
            </div>
        </div>
    </div>
</body>
<script src="/src/Main/NoteList.js"></script>

</html>